@import "colors.scss";

* {
    transition: 0.5s;
}

body {
    min-height: 100%;
}

$container-padding-horizontal: 80px;

.container {
    padding: 0 $container-padding-horizontal !important;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 30px 0;
    height: 110px;
    > .nav {
        justify-self: center;
        * {
            padding: 0 10px;
            @include theme(color, secondary-text, null, !important);
            text-decoration: none;
            line-height: 1.5;
            &:hover,
            &.active {
                @include theme(color, text, null, !important);
                cursor: pointer;
            }
        }
    }
    > .search {
        justify-self: end;
        position: relative;
        input {
            padding: 10px 40px 10px 20px;
            &:focus {
                width: 300px;
            }
        }
        svg {
            position: absolute;
            height: 15px;
            width: 15px;
            padding: 12.5px;
            right: 0;
            opacity: 0.5;
            border-radius: 7px;
        }

        &:focus-within > svg {
            opacity: 1;
            @include theme(background, brand);
            cursor: pointer;
        }
    }
}

div.main {
    .banner {
        height: calc(100vh - 110px);
        display: grid;
        grid-template-columns: minmax(auto, 50%) 1fr;
        align-items: center;
        img {
            height: inherit;
            width: auto;
            filter: grayscale(100%);
            opacity: 0.7;
            margin: -$container-padding-horizontal;
        }
        position: relative;
        .social {
            position: absolute;
            right: 0;
            bottom: 50px;
            display: flex;
            flex-flow: column;
            align-items: center;
            * {
                margin: 10px;
                @include theme(color, brand-text);
            }
            .line {
                display: block;
                height: 100px;
                width: 3px;
                @include theme(background, brand);
            }
            svg {
                width: 20px;
                height: auto;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }
        }
    }
}

.hr-line {
    display: block;
    width: 50px;
    height: 3px;
    @include theme(background, brand);
}

.topic {
    // h1 {

    // }

    &:not(.skills) > div {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr auto;
        column-gap: 1em;
        font-size: 20px;
        font-weight: 200;
        // &:hover {
        //     @include theme(text-shadow, brand, 0 0 20px, null);
        // }
    }

    &.skills {
        display: flex;
        flex-direction: column;

        div.filter {
            text-align: right;
        }

        div#items {
            display: grid;
            gap: 40px;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            justify-items: center;

            > div {
                cursor: pointer;
                display: grid;
                grid-auto-flow: row;
                align-content: space-evenly;
                justify-content: center;
                justify-items: center;

                align-self: center;

                @include theme(background, secondary-background);

                width: 200px;
                height: 200px;
                border-radius: 10px;
                box-sizing: border-box;
            }
        }
    }
}
