$colors: (
  light-100: #979898,
  light-200: #a2a3a3,
  light-300: #adaeae,
  light-400: #b9b9b9,
  light-500: #c4c5c5,
  light-600: #d0d0d0,
  light-text: black,
  light-brand: #f0bf6c,
  light-brand-text: #f0bf6c,
  
  dark-100: #272829,
  dark-200: #3b3c3d,
  dark-300: #515253,
  dark-400: #676869,
  dark-500: #7f8080,
  dark-600: #979898,
  dark-text: white,
  dark-brand: #f0bf6c,
  dark-brand-text: #f0bf6c,

  mixed-100: #5c5d5e,
  mixed-200: #6d6d6e,
  mixed-300: #7e7e7f,
  mixed-400: #8f9090,
  mixed-500: #a1a1a2,
  mixed-600: #b3b3b4,
  mixed-text: white,
  mixed-brand: #f0bf6c,
  mixed-brand-text: #f0bf6c
);
